
Source/bin/
Source/obj/
Source/Svg.csproj.user
Source/Svg.suo
Source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Samples/SVGViewer/obj/
Samples/SVGViewer/bin/
Samples/SVGViewer/SVGViewer.OpenCover.Settings
*.dll
*.pdb
